@{
    ViewData["Title"] = "Prediction Result";
}

<h2 class="text-center">Prediction Result</h2>

<!-- Glassmorphism Effect Container in the Center -->
<div class="glass">
    <h3>Your lie detection prediction is:</h3>
    <p><strong>@ViewBag.Prediction</strong></p>
</div>

<!-- Button to go back to the-->
